:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

hr {
  border: 1px solid rgb(249, 247, 247);
  width: 100%;
  margin: 0 auto;
  padding: 1em 0 1em 0;
}

#bite-me,
#about-us,
#people,
#shop {
  padding-top: 4em;
}

.photo {
  padding-bottom: 4em;
}
#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  padding-left: 1.25em;
}

nav ul li a:link,
nav ul li a:visited {
    color:black;
    text-decoration: none;
}

h1 {
  margin-top: 0;
  font-size: var(--font-size-xl) 
}

h2 {
  margin-top: 0;
  font-size: var(--font-size-lg);
  text-align: center;
}

h3 {
  margin-top: 0;
  font-size: var(--font-size-md);
}

h4 {
  margin-top: 0;
  font-size: var(--font-size-sm);
}

p {
  margin-top: 0;
  font-size: var(--font-size-base);
}

.h2 {
  text-align: center;
}

.dough {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.quotes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

cite {
  display: block;
  font-style: italic;
  padding-top: 1em;
  color: lightgray;
}

#bite-me .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.photo img {
  border-radius: 2%;
}

.button {
  background-color: black;
  display: inline-block;
  padding: .5em .5em;
  align-self:flex-start;
  border-radius: 2px;
  margin: 2em 0 2em 0;
  color: white;
  text-decoration: none;
  font-size: var(--font-size-sm);
  border-radius: .25em;
}

.back-ground {
  color: white;
  background-color: black;
  padding-top: 2em;
  padding-bottom: 2em;
}

.ice-cream {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.ice-cream img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}

.ice-cream article {
  text-align: center;
  background-color:rgb(244, 244, 244);
  border-radius: 4%;
}

.ice-cream article h3 {
  text-align: center;
  padding-top: 0.5em;
}

footer {
    text-align: center;
    padding: 1em 0;
}

@media (max-width:60em) {
#bite-me .wrapper {
  display: block;
  }
}
@media (max-width: 38em){
  .photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  .quotes {
    display: grid;
    grid-template-columns: 1fr;
  }

  .dough {
    display: grid;
    grid-template-columns: 1fr;
  }

  .ice-cream {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .span-column {
    grid-column: 1/4;
  }
}