:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-right: 1.25em;
}

nav ul li a:link,
nav ul li a:visited {
    color:black;
    text-decoration: none;
}

h1 {
  margin-top: 0;
  font-size: var(--font-size-xl) 
}

h2 {
  margin-top: 0;
  font-size: var(--font-size-lg);
  text-align: center;
}

h3 {
  margin-top: 0;
  font-size: var(--font-size-md);
}

h4 {
  margin-top: 0;
  font-size: var(--font-size-sm);
}

p {
  margin-top: 0;
  font-size: var(--font-size-base);
}

.h2 {
  text-align: center;
}

.dough {
  display:flex;
  justify-content: space-evenly;
}

.dough p {
  width: 60%;
}

.quotes {
  display:flex;
  justify-content: space-evenly;
}

.quotes blockquote {
  width: 60%;
  text-align: center;
}

.grid {
 display: flex;
 align-items: center;
}

.photo {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.photo img {
  width: 100%;
  height: auto;
}

.text {
  flex: 1;
}

.text {
  padding-left: 20px;
}

.button {
  background-color: black;
  display: inline-block;
  padding: .5em .5em;
  align-self:flex-start;
  border-radius: 2px;
  margin: 2em 0 2em 0;
  color: white;
  text-decoration: none;
}

.back-ground {
  color: white;
  background-color: black;
}

cite {
  color: lightgray;

}

.ice-cream {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.ice-cream img {
  max-width: 100%;
  height: auto;
}

.ice-cream article p {
  text-align: center;
}

.ice-cream article h3 {
  text-align: center;
  padding-top: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
}

/* 1st @media query breakpoint starts here */
/* @media (min-width: 400px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px){
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */